<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
    body {
      font-family: sans-serif;
      text-align: center;
    }
    a {
      text-decoration: none;
    }
    .confirm-link {
    	font-weight: bold;
    	font-size: 18px;
    }
    .confirm-link a {
      padding: 20px;
      border-radius: 5px;
      background-color: #7ED321;
      color: white;
      margin: 20px 0;
      display: inline-block;
    }
    .description {
      padding: 10px 0;
      color: #666;
    }
    strong {
      font-weight: bold;
    }
    </style>
  </head>
  <body>
    <h2>You have new invitation waiting for your confirmation</h2>
    <p class="description"><strong><%= @user.first_name %></strong> wants to meet you for a lunch <strong>Tomorrow at 2 PM</strong> in Red Lion, 1 Eldon Street, London.</p>
    <p class="description"><%= @user.first_name %> is looking for <strong><%= @user.looking_for %></strong> and can help you with <strong><%= @user.good_at %></strong>.
    <p class="description">
    Also, <%= @user.first_name %> can talk about: <strong><%= @user.abilities.first(3).map(&:name).join(",") %></strong>.
    </p>
    <p class="confirm-link"><%= link_to("Confirm this invitation", @confirm_url) %></p>
    <p class="confirm-link"><%= link_to("Reject this invitation", @reject_url) %></p>
  </body>
</html>
