


<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
  <h2>Log in</h2>
    <label for="new_user" class="sr-only">Login</label>
    <%= f.text_field :login, autofocus: true, class: "form-control", placeholder: "Login" %>

    <label for="user_password" class="sr-only">Login</label>
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>

  <% if devise_mapping.rememberable? -%>

  <div class="checkbox">
    <label>
      <%= f.check_box :remember_me %> Remember me
    </label>
  </div>

  <% end -%>

    <%= f.submit "Log in", class: "actions btn btn-lg btn-primary btn-block" %>

<%= render "devise/shared/links" %>
<% end %>




